$color-black: #333333;
$color-white: #ddbba1;

$color-primary-dark: #8c6544;
$color-primary-light: #ddbba1;

$color-accent-dark: #0088cc;
$color-accent-light: #88cc00;

$color-background-dark: #cccccc;
$color-background-light: #f7f7f7;

$color-pop-dark: #ffd166;
$color-pop-light: #ffa84c;

$color-cta-dark: #6c63ff;
$color-cta-light: #ff3d00;
